#ls aliases
alias  ls='ls -B -F --color=auto' #hides backups
alias  ll='echo "Permision  HL Owner Group  Size       LastMod        Name"; ls -l -h --time-style="+%H:%M:%S %e-%b-%Y"' #Long list human readable
alias  la='ls -A' #See everything except . and ..
alias lac='la -1'
alias lla='ll -A' #Long list showing hidden files
alias lsc='ls -1' #List Entries by columns
alias  l.='ls -d .*' #See only hidden files
alias ll.='ll -d .*' #Long list of hidden files
alias  lb='find . maxdepth 1 -name "*~"'
alias  lr='ls -R'
alias lrc='lr -1'

#miscellaneous                                                                  
alias  cl='clear'
alias  lg='exit'
alias off='shutdown now'

#ROOT
alias rt="root -l"

#CCLyon

alias  cclog="ssh -Y salves@cca.in2p3.fr"
alias   cctp="sftp salves@cca.in2p3.fr"

#evalu163
alias evalog="ssh -Y salves@evalu195.ific.uv.es"

#emacs
alias ed="emacs"

