# Exclude main directories
Downloads/
Pictures/
Desktop/
Templates/
Videos/
Public/
snap/
Music/
Documents/

# Exclude hidden files and directories of no interest
.cache/
.ssh/
.gnupg/
.themes/
.local/
.mozilla/
.pki/
.config/*
.emacs.d/*
.fontconfig/
.nv/

.sudo_as_admin_successful
.bash*
.profile
.gitconfig

# Exclude save files and hitory files
*~
*_history

# Actually what I want to save (will need revision)
!.config/starship.toml
!.config/fish/
!.emacs.d/*.el